/* tail github */
.tail {
    position: relative;
    font-size: 12px;
    text-align: center;
 }
 
 /* AO3 trending page title */
 .heading {
    text-align: center;
    font-weight: inherit;
    font-style: inherit;
 }
 /* AO3 logo */
 .logo {
    vertical-align: middle;
 }
 /* no link decorations*/
 .no-deco-link {
    color: black;
    text-decoration-line: none;
 }
 
 /* body */
 .body {
     margin-left: 15%;
     margin-right: 15%;
     margin-top: 5%;
     margin-bottom: 5%;
 }
 
 .fandom {
     display: none;
 } 
 
 .fandom-choice {
     color: black;
     background-color: white;
     font-size: 16px;
     padding: 5px;
     border-radius: 20px;
     text-align: center;
 }
 
 /* to do */
 .fandom-list{
     border-radius: 20px;
 }
 
 .fandom-selected {
     color: black;
     background-color: lightgray;
 }
 
 .last-update {
     font-size: 13px;
     text-align: right;
 }
 
 .refresh-button {
     border: None;
     background-color: white;
     padding: 0px;
     vertical-align: middle;
     display: none;
 }
 
 .ranking table {
     /* margin-top: 10%; */
     /* border: 1px solid; */
     width: 100%;
     text-align: center;
     border-collapse: collapse;
 }
 
 .ranking thead {
     color: #980404;
 }
 
 .ranking tr {
     border-bottom: 1px solid black;
 }
 
 .ranking tr td a {
     display: block;
     width: 100%;
     height: 100%;
     color: black;
     text-decoration: none;
}

.additional-info {
    font-size: 12px;
    margin: 0%;
}

.additional-right {
    margin: 0%;
}

.additional-right tr {
    border-bottom: none;
}

.additional-right-left {
    text-align: right;
    font-weight: bold;
}
.additional-right-right {
    text-align: left;
}

.additional-left {
    margin: 0%;
}

.additional-left tr {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: none;
}
