<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AO3 Trending Page</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" type="text/css"/>

        <div>
            <h1 class="heading" id="heading">
                <a href="/" class="no-deco-link">
                    <img class="logo" src="https://archiveofourown.org/images/ao3_logos/logo_42.png" alt="AO3"></img>
                    <span>Trending Page</span>
                </a>
            </h1>
        </div>
    </head>

    <body class="body" id="body">

        <form name="fandom" id="fandom" class="fandom">
            Fandom: <select name="fandom-choice" id="fandom-choice" class="fandom-choice">
                <option value="" selected="selected" class="fandom-selected">Select fandom</option>
            </select>
        
        </form>

        <div id="to-delete">
            <p>Chosen fandom = ATEEZ (only fandom available atm)</p>
        </div>

        

        <div class="last-update" id="last update">
            <span>Last update:</span>
            <span id="timestamp">{{ timestamp }}</span>
        </div>

        
        <div class="ranking">
            <table class="ranking" id="ranking">
                <thead>
                    <th colspan="2">Rank</th>
                    <th>Work Title</th>
                    <th>Author</th>
                </thead>

                <tbody id="ranking-body">
                    {% block content %}
                    {% for entry in ranking %}
                        <tr>
                        <td><a href={{ entry["link"] }} target="_blank">{{ entry["ranking"] }}</a></td>
                        <td>{% if entry["keyword"]=="NEW" %}
                            &#x1F195;
                            {% elif entry["keyword"]=="=" %}
                            =
                            {% elif '-' in entry["keyword"] %}
                            <a href={{ entry["link"] }} target="_blank">&#x1F53D; {{ entry["keyword"] }}</a>
                            {% else %}
                            <a href={{ entry["link"] }} target="_blank">&#x1F53C; +{{ entry["keyword"] }}</a>
                            {% endif %}
                            </td>
                        <td><a href={{ entry["link"] }} target="_blank">{{ entry["worktitle"] }}</a></td>
                        <td><a href={{ entry["link"] }} target="_blank">{{ entry["authors"] }}</a></td>
                        </tr>
                        <tr class="additional-info">
                            <td></td>
                            <td></td>
                            <td>
                                <table class="additional-left">
                                    <tr colspan=2><td><img src="https://archiveofourown.org/images/skins/iconsets/default/category-{{ category_table[entry["categories"]] }}.png"></img><img src="https://archiveofourown.org/images/skins/iconsets/default/rating-{{ rating_table[entry["rating"]] }}.png"></img></td>
                                    </tr>
                                    <tr><td>{{ entry["relationship"] }}</td></tr>
                                    <tr><td><b>Main tags: </b>{{ entry["tags"] }}</td></tr>
                                </table>
                            <td>
                                <table class="additional-right">
                                    <tr><td class="additional-right-left">words:</td>
                                        <td class="additional-right-right">{{ entry["words"] }}</td></tr>
                                    <tr>
                                        <td class="additional-right-left">chapters:</td>
                                        <td class="additional-right-right">{{ entry["chapters"] }}</td></tr>
                                    <tr>
                                        <td class="additional-right-left">last update:</td>
                                        <td class="additional-right-right">{{ entry["latest_updated"] }}</td></tr>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}

                    {{ metadata }}

                    {% endblock %}
                </tbody>
            </table>
        </div>

        

    <tail>
        <span id="github" class="tail">Find the code of this website and project on <a href="https://github.com/myriapod/ao3trendingpage">github</a></span>
    </tail>
    </body>
    


</html>
