[Unit]
Description=Gunicorn instance to serve ao3trendingpage project
After=network.target

[Service]
User=$USER
Group=www-data
ExecStart=/home/$USER/.local/bin/gunicorn --config `pwd`/flask-website/gunicorn_config.py --workers 3 --bind 127.0.0.1:5000 --chdir `pwd`/flask-website flask-website.website:app


[Install]
WantedBy=multi-user.target